# BYRBT 账号信息
BYRBT_USERNAME="username"
BYRBT_PASSWORD="password"

# qBittorrent Web 用户界面连接信息
QBITTORRENT_HOST="https://example.com:2233"
QBITTORRENT_USERNAME="admin"
QBITTORRENT_PASSWORD="password"
QBITTORRENT_DOWNLOAD_PATH="/downloads"

# 做种文件最大存储容量（单位：GB）
MAX_TORRENTS_SIZE=1024
# 浏览器代理配置，格式为：protocol://ip:port（如 "http://192.168.1.1:8080"）。留空表示不启用代理。
# 暂不支持包含用户名和密码的代理
BROWSER_PROXY=